{% extends "base.html" %}

{% block content %}
<!-- HERO SECTION -->
<div class="hero-bg-setup d-flex align-items-center justify-content-center"
  style="background-color: #f5eeec;  height: 70vh;">
  <div class="text-center">
    <h1 class="b-bg" style="font-size: 3rem;">Logout</h1>
  </div>
</div>
<!-- END OF HERO SECTION -->

<!-- Logout section -->
<div class="container mt-4 text-center">
  <p>Are you sure you want to logout?</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}

    <button class="btn btn-outline-success" type="submit">Yes, Logout</button>
  </form>
  <a href="{% url 'home' %}" class="btn btn-outline-success">No, Go Back</a>
</div>
<!-- End of logout section -->
{% endblock %}