{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ABOUT US SECTION -->
<section id="about-us">
  <div class="container box-shadow">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <img src="{% static 'images/pexels-sam-lion-5709267.jpg' %}" alt="Welcome Image" class="img-fluid">
        <h1 class="sub-title mt-3">About Us</h1>
        <p class="mt-3 text-justify">
          Welcome to Lively, where our love for vibrant, wholesome food meets our passion for sharing inspiring
          stories. Lively was born out of a desire to celebrate the beauty of vegetarian cuisine and the joy of
          connecting with our food.

          Our journey began with Liv's exploration of vegetarianism, driven by a quest for seasonal and easy recipes.
          What started as a personal culinary adventure quickly transformed into a platform for sharing our love for
          delicious, plant-based meals.

          At Lively, we believe in the power of food to tell a story. Each recipe is a chapter in our culinary
          narrative, celebrating the flavors of fresh, natural ingredients. From the kitchen to your table, we invite
          you to join us on a journey of taste, color, and creativity.

        </p>
      </div>
    </div>

    <!-- Q&A Section in Columns -->
    <div class="row mt-5">
      <h2>Questions & Answers</h2>
      <div class="col-md-6">
        <h3>Interviewer: Liv, your blog has evolved into a haven for lively, vegetarian recipes. Can you share the story
          behind the name Lively?</h3>
        <p>Liv: Absolutely! Lively represents the heart and soul of my culinary adventures. I wanted a name that
          captured the vibrant energy we infuse into our vegetarian recipes. Each dish has its own lively tale, and the
          blog is a collection of those stories.</p>

        <h3>Interviewer: What sparked your journey into vegetarianism and the creation of your blog?</h3>
        <p>Liv: My journey into vegetarianism began when I decided to embrace a meat-free lifestyle. I craved easy,
          delicious recipes that celebrated seasonal ingredients. That's when the idea for the blog was born – a place
          to share my discoveries and inspire others to explore the world of wholesome, plant-based meals.</p>

        <h3>Interviewer: Can you elaborate on the lively aspect of your cooking philosophy?</h3>
        <p>Liv: Certainly! Lively cooking is all about infusing energy into our meals. It's about celebrating the
          vibrant colors, flavors, and textures of fresh produce. We believe in variety and the joy that comes from
          eating nutritious food.</p>
      </div>
      <div class="col-md-6">
        <h3>Interviewer: What can your readers expect from Lively Kitchen Tales in terms of recipes and content?</h3>
        <p>Liv: Lively Kitchen Tales is all about inspiring others to embrace a vibrant and wholesome approach to
          cooking. Readers can expect a diverse range of vegetarian recipes, each accompanied by a lively story. We want
          to show that cooking with natural ingredients can be not only nourishing but also incredibly enjoyable.</p>

        <h3>Interviewer: Any advice for those looking to adopt a more lively and plant-based lifestyle?</h3>
        <p>Liv: Embrace variety and enjoy the process of discovering new flavors. Lively cooking is about feeling good,
          not following strict rules. Experiment with different fruits, vegetables, grains, and spices. And most
          importantly, savor the joy that comes from creating and sharing delicious, plant-based meals.</p>

        <h3>Interviewer: Thank you, Liv, for sharing the vibrant story behind Lively. We look forward to
          more lively recipes and tales from your kitchen!</h3>
        <p>Liv: Thank you! I'm excited to continue this lively journey and share the joy of vegetarian cooking with
          everyone.</p>
      </div>
    </div>

  </div>
</section>
<!-- END ABOUT US SECTION -->

{% endblock content %}