<!-- blog_page.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- HERO SECTION -->
<div class="hero-bg-setup d-flex align-items-center justify-content-center"
  style="background-color: #f5eeec; height: 70vh;">
  <div class="text-center">
    <h1 class="b-bg" style="font-size: 3rem;">Blog Page</h1>
  </div>
</div>

<!-- CONTENT BLOG SECTION -->
<div class="container mx-auto mt-4">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <!-- Check if the 'photo' attribute has a file before trying to display it -->
        {% if recipe.photo %}
        <img src="{{ recipe.photo.url }}" alt="{{ recipe.title }} Preview Image" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}">{{ recipe.title }}</a>
          </h5>
          <p class="card-text">{{ recipe.overview }}</p>
          <p class="card-text"><small class="text-muted">Author: {{ recipe.author.username }}</small></p>
          <p class="card-text"><small class="text-muted">Published on: {{ recipe.created_on }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- END OF CONTENT BLOG SECTION -->


<!-- PAGINATION SECTION -->
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Go to the blog next page"
        class="page-link">&laquo; PREV</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a href="?page={{ page_obj.next_page_number }}" aria-label="Go to the blog back page" class="page-link">NEXT
        &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- END OF PAGINATION SECTION -->
{% endif %}

<!-- Include Footer Content -->
<footer class="footer mt-auto py-3 dark-bg">
  <p class="m-0 text-center text-white">
    {% block copyright %}2024 Lively Blog. All rights reserved.{% endblock copyright %}
  </p>
  <p class="m-0 text-center text-white">
    Follow us:
    <i class="fab fa-facebook-square ms-3"><a href="https://www.facebook.com/" target="_blank"></a></i>
    <i class="fab fa-twitter-square ms-3"><a href="https://twitter.com/" target="_blank"></a></i>
    <i class="fab fa-instagram-square ms-3"><a href="https://www.instagram.com/" target="_blank"></a></i>
    <i class="fab fa-youtube-square ms-3"><a href="https://www.youtube.com/" target="_blank"></a></i>
  </p>
</footer>
{% endblock %}