{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero section -->
<section id="hero">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item bg-setup active" style="
          background-image: url('{% static 'images/pexels-airam-datoon-15487471.jpg' %}');
          height: 80vh;
        ">
        <div class="container">
          <div class="carousel-caption text-start">
            <h5 class="custom-black-text"><a href="{% url 'about' %}" style="text-decoration: none;">About us</a></h5>
            <h1 class="custom-black-text"><a href="{% url 'about' %}" style="text-decoration: none;">Welcome to
                Lively</a></h1>
            <p class="custom-black-text">
              Here we cook and eat healthy and simple vegetarian food with natural ingredients,
              whole grains, good fats, fruit and vegetables. Get to know us better here.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item bg-setup" style="
          background-image: url('{% static 'images/arek-adeoye-cHhNcqoj_7o-unsplash.webp' %}');
          height: 80vh;
        ">
        <div class="container">
          <div class="carousel-caption text-start">
            <h5><a href="{% url 'recipes' %}" style="text-decoration: none; color: inherit;">Breakfasts</a></h5>
            <h1><a href="{% url 'recipes' %}" style="text-decoration: none; color: inherit;">Start your day in the best
                way</a></h1>
            <p>
              Find our healthy and delicious breakfast recipes.
              Helping you feel energized throughout the day.
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item bg-setup" style="
          background-image: url('{% static 'images/charlesdeluvio-Ms9xBg3Gtr8-unsplash.webp' %}');
          height: 80vh;
        ">
        <div class="container">
          <div class="carousel-caption text-start">
            <h5><a href="{% url 'recipes' %}" style="text-decoration: none; color: inherit;">Sweet treats</a></h5>
            <h1><a href="{% url 'recipes' %}" style="text-decoration: none; color: inherit;">Chocolate chip & tahini
                cookies</a></h1>
            <p>
              We are obsessed with this recipe, such a favorite.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- END OF HERO SECTION -->

<!-- CONTENT BLOG SECTION -->
<div class="container mx-auto mt-4">
  <div class="text-start">
    <h2 class="b-bg" style="font-size: 2rem; text-align: left;">New Recipes</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recipe in recipes %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}">{{ recipe.title }}</a>
          </h5>
          <p class="card-text">{{ recipe.overview }}</p>
          <p class="card-text"><small class="text-muted">Author: {{ recipe.author.username }}</small></p>
          <p class="card-text"><small class="text-muted">Published on: {{ recipe.created_on }}</small></p>
          <p class="card-text"><small class="text-muted">Likes: {{ recipe.number_of_likes }}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- END OF CONTENT BLOG SECTION -->

<footer class="footer mt-auto py-3 dark-bg">
  <p class="m-0 text-center text-white">
    {% block copyright %}2024 Lively Blog. All rights reserved.{% endblock copyright %}
  </p>
  <p class="m-0 text-center text-white">
    Follow us:
    <i class="fab fa-facebook-square ms-3"><a href="https://www.facebook.com/" target="_blank"></a></i>
    <i class="fab fa-twitter-square ms-3"><a href="https://twitter.com/" target="_blank"></a></i>
    <i class="fab fa-instagram-square ms-3"><a href="https://www.instagram.com/" target="_blank"></a></i>
    <i class="fab fa-youtube-square ms-3"><a href="https://www.youtube.com/" target="_blank"></a></i>
  </p>
</footer>

{% endblock content %}