{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Hero section -->
<!-- Your existing hero section code -->

<!-- CONTENT BLOG SECTION 1-->
<div class="container">
  <h2 class="mt-5">Latest Recipes</h2>
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}" aria-label="Go to the recipe detail page">
              {{ recipe.title }}
            </a>
          </h5>
          <p class="card-text">{{ recipe.description }}</p>
          <!-- Add more details as needed -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- END OF CONTENT BLOG SECTION 1 -->

<!-- CONTENT SECTION 2 (UNDER 991px)-->
<section id="home-content-2" class="content">
  <h2 class="title">Our Latest Recipes</h2>
  <div class="container">
    <div class="row">
      {% for recipe in recipes %}
      {% if forloop.counter == 2 %}
      <div class="col-md-6">
        <a href="{% url 'recipe_detail' slug=recipe.slug %}" aria-label="Go to the recipe detail page">
          <div class="content-img">
            <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" />
            <div class="content-categorie">
              <h4>{{ recipe.title }}</h4>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <div class="col-md-6">
        <a href="{% url 'recipe_detail' slug=recipe.slug %}" aria-label="Go to the recipe detail page">
          <div class="content-img">
            <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }} Image" />
            <div class="content-categorie">
              <h4>{{ recipe.title }}</h4>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- END CONTENT SECTION 2 -->

{% endblock content %}
