{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">{{ recipe.title }}</h1>
        <p class="post-subtitle">{{ recipe.author.username }} | {{ recipe.created_on|date:"F j, Y H:i" }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- Fallback image if there is no photo -->
        <img src="{% static 'images/brooke-lark-W9OKrxBqiZA-unsplash.webp' %}" class="img-fluid" alt="placeholder">
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        <p class="card-text">{{ recipe.content|safe }}</p>
      </div>
    </div>

    <!-- Display Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        <h3 class="mb-3">Comments:</h3>

        <!-- Display search query -->
        {% if query %}
        <p class="mb-3">Search results for: "{{ query }}"</p>
        {% endif %}

        <!-- Display messages user -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% for comment in comments %}
        <!-- Filter comments based on the search query -->
        {% if not query or query in comment.body %}
        <div class="comment mb-3">
          <p><strong>{{ comment.user.username }}</strong>: {{ comment.body }}</p>
        </div>
        {% endif %}
        {% endfor %}

        <!-- Pagination Comments -->
        {% if comments.has_other_pages %}
        <nav aria-label="Comments pagination">
          <ul class="pagination justify-content-center">
            {% if comments.has_previous %}
            <li class="page-item">
              <a href="?page_comments={{ comments.previous_page_number }}" class="page-link">&laquo; prev</a>
            </li>
            {% endif %}
            {% for i in comments.paginator.page_range %}
            <li class="page-item{% if comments.number == i %} active{% endif %}">
              <a href="?page_comments={{ i }}" class="page-link">{{ i }}</a>
            </li>
            {% endfor %}
            {% if comments.has_next %}
            <li class="page-item">
              <a href="?page_comments={{ comments.next_page_number }}" class="page-link">next &raquo;</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

        <!-- Creating New Comments -->
        {% if user.is_authenticated %}
        <h3 class="mb-3">Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" action="{% url 'add_comment' slug=recipe.slug %}"
          style="margin-top: 1.3em;">
          {% csrf_token %}
          {{ comment_form | crispy }}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p class="mb-3">Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Recipes Pagination -->
  {% if related_recipes.has_other_pages %}
  <nav aria-label="Related recipes pagination">
    <ul class="pagination justify-content-center">
      {% if related_recipes.has_previous %}
      <li class="page-item">
        <a href="?page_recipes={{ related_recipes.previous_page_number }}" class="page-link">&laquo; prev</a>
      </li>
      {% endif %}
      {% for i in related_recipes.paginator.page_range %}
      <li class="page-item{% if related_recipes.number == i %} active{% endif %}">
        <a href="?page_recipes={{ i }}" class="page-link">{{ i }}</a>
      </li>
      {% endfor %}
      {% if related_recipes.has_next %}
      <li class="page-item">
        <a href="?page_recipes={{ related_recipes.next_page_number }}" class="page-link">next &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock content %}