{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">{{ recipe.title }}</h1>
        <p class="post-subtitle">{{ recipe.author.username }} | {{ recipe.created_on|date:"F j, Y H:i" }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- Fallback image if there is no photo -->
        <img src="{% static 'images/brooke-lark-W9OKrxBqiZA-unsplash.webp' %}" class="img-fluid" alt="placeholder">
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        <p class="card-text">{{ recipe.content|safe }}</p>
      </div>
    </div>

    <!-- Display Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        <h3 class="mb-3">Comments:</h3>

        <!-- Display search query, if any -->
        {% if query %}
        <p class="mb-3">Search results for: "{{ query }}"</p>
        {% endif %}

        <!-- Display messages -->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% for comment in comments %}
        <!-- Filter comments based on the search query -->
        {% if not query or query in comment.body %}
        <div class="comment mb-3">
          <p><strong>{{ comment.user.username }}</strong>: {{ comment.body }}</p>
        </div>
        {% endif %}
        {% endfor %}

        <!-- Creating New Comments -->
        {% if user.is_authenticated %}
        <h3 class="mb-3">Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" action="{% url 'add_comment' slug=recipe.slug %}"
          style="margin-top: 1.3em;">
          {% csrf_token %}
          {{ comment_form | crispy }}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p class="mb-3">Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock content %}