{% load static %}

{% url 'home' as home_url %}
{% url 'recipes' as recipes_url %}
{% url 'about' as about_url %}
{% url 'blog' as blog_url %}
{% url 'contact' as contact_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head content here -->
</head>
<body>
    <header>
        <!-- Your header content here -->
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'blog_page' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Your main content here -->
        {% block content %}
            {% if post %}
                <h2><a href="{% url 'recipe_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <!-- Other details about the post -->
            {% endif %}
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
