/* Global Styles */
body,
.main-bg,
.light-bg,
.dark-bg,
.container,
.section-class,
.footer,
.main-bg {
    background-color: white;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lora', serif;
}

/* Change arrow color on hover */
#hero .carousel-control-prev:hover .carousel-control-prev-icon,
#hero .carousel-control-next:hover .carousel-control-next-icon {
    background-color: grey;
}

/* Center text in login, logout, and signup pages */
h2 {
    text-align: center;
}

/* Navigation Styles */
.navbar-brand a,
.navbar-nav a.navbar-link {
    text-decoration: none;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100; 
}

.navbar-link.active {
    font-family: 'Libre Baskerville', serif;
    font-weight: 100; 
}

/* Search Form Styles */
.form-control {
    font-weight: 100; 
    color: black;
}

/* Button Styles */
.btn.btn-outline-success {
    color: black;
    border-color: black;
}

/* Button style used throughout website */
.btn.btn-outline-success:hover,
.btn.btn-outline-success:active {
    color: grey;
    background-color: transparent;
    border-color: grey;
}

.btn-signup:hover,
.btn-signup:active,
.btn-edit:hover,
.btn-edit:active {
    background-color: grey;
    color: white;
}

/* Link Styles */
.link {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: grey;
    text-decoration: underline;
}

/* Filter Headline Styles */
.filter-headline {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Lively Text Styles */
.navbar-brand.lively-text {
    text-align: center;
}

.navbar-brand.lively-text a {
    font-size: 48px;
}

/* Black text / headlines */
.custom-black-text {
    color: black;
}

/* Recipe Link Styles */
.card-title a {
    color: black;
    text-decoration: none;
}

.card-title a:hover {
    color: grey;
    text-decoration: none;
}

/* Contact Form Styles */
.contact-container {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Libre Baskerville', serif;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Spacer Styles */
.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Link Styles */
.link {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: grey;
    text-decoration: none;
}

/* Custom Styles for Carousel Caption */
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: black;
}

.carousel-caption a {
    color: inherit;
}

.carousel-caption a:hover {
    text-decoration: none;
}

/* Mobile Styles */
@media (max-width: 767px) {
    /* Hide search bar when the hamburger icon is not expanded */
    .navbar-collapse:not(.show) .form-control {
        display: none;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse:not(.show) .form-control {
        display: block;
    }
}

/* Computer screens */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-expand-lg .navbar-nav {
        margin-right: auto;
    }

    .navbar-expand-lg .form-inline {
        margin-left: 10px;
    }
}
